In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import (
    StructField, 
    StructType,
    StringType,
    IntegerType
)

In [2]:
spark = SparkSession.builder.master("local[2]").appName("DataLemur SQL").getOrCreate()
spark

# Compensation Outliers
#### [DataLemur URL](https://datalemur.com/questions/compensation-outliers)
#### [SQL Solution URL](https://github.com/temmyzeus/SQL-Projects/tree/master/DataLemur#compensation-outliers--httpsdatalemurcomquestionscompensation-outliers)

In [3]:
schema = StructType([
    StructField("employee_id", IntegerType(), nullable=False),
    StructField("salary", IntegerType(), nullable=False),
    StructField("title", StringType(), nullable=False)
])

compensation_df = spark.createDataFrame(
    (
        (101, 80000, "Data Analyst"),
        (102, 90000, "Data Analyst"),
        (103, 100000, "Data Analyst"),
        (104, 30000, "Data Analyst"),
        (105, 120000, "Data Scientist"),
        (106, 100000, "Data Scientist"),
        (107, 80000, "Data Scientist"),
        (108, 310000, "Data Scientist"),
        (109, 60000, "Python Developer"),
        (110, 70000, "Python Developer"),
        (111, 200000, "Python Developer"),
        (112, 25000, "Python Developer")
    ),
    schema=schema
)

In [4]:
compensation_df.show()

+-----------+------+----------------+
|employee_id|salary|           title|
+-----------+------+----------------+
|        101| 80000|    Data Analyst|
|        102| 90000|    Data Analyst|
|        103|100000|    Data Analyst|
|        104| 30000|    Data Analyst|
|        105|120000|  Data Scientist|
|        106|100000|  Data Scientist|
|        107| 80000|  Data Scientist|
|        108|310000|  Data Scientist|
|        109| 60000|Python Developer|
|        110| 70000|Python Developer|
|        111|200000|Python Developer|
|        112| 25000|Python Developer|
+-----------+------+----------------+

## Method 1

In [5]:
avg_salaries_per_title = compensation_df.groupBy("title").avg("salary").withColumnRenamed("avg(salary)", "avg_salary_per_title")
compensation_w_avg_salaries_per_title =  compensation_df.join(avg_salaries_per_title, on=["title"], how="left")

compensation_w_status = compensation_w_avg_salaries_per_title.withColumn(
    "status",
    F.when(
        compensation_w_avg_salaries_per_title.salary > (2*compensation_w_avg_salaries_per_title.avg_salary_per_title),
        "Overpaid"
    ).when(
         compensation_w_avg_salaries_per_title.salary < (0.5*compensation_w_avg_salaries_per_title.avg_salary_per_title),
        "Underpaid"
    ).otherwise("Normal")
)

avg_salaries_per_title.show()
compensation_w_avg_salaries_per_title.show()
compensation_w_status.show()

+----------------+--------------------+
|           title|avg_salary_per_title|
+----------------+--------------------+
|  Data Scientist|            152500.0|
|    Data Analyst|             75000.0|
|Python Developer|             88750.0|
+----------------+--------------------+

+----------------+-----------+------+--------------------+
|           title|employee_id|salary|avg_salary_per_title|
+----------------+-----------+------+--------------------+
|  Data Scientist|        105|120000|            152500.0|
|  Data Scientist|        106|100000|            152500.0|
|    Data Analyst|        101| 80000|             75000.0|
|    Data Analyst|        102| 90000|             75000.0|
|    Data Analyst|        103|100000|             75000.0|
|    Data Analyst|        104| 30000|             75000.0|
|Python Developer|        109| 60000|             88750.0|
|Python Developer|        110| 70000|             88750.0|
|Python Developer|        111|200000|             88750.0|
|Python Developer|        112| 25000|             88750.0|
|  Data Scientist|        107| 80000|            152500.0|
|  Data Scientist|        108|310000|            152500.0|
+----------------+-----------+------+--------------------+

+----------------+-----------+------+--------------------+---------+
|           title|employee_id|salary|avg_salary_per_title|   status|
+----------------+-----------+------+--------------------+---------+
|  Data Scientist|        105|120000|            152500.0|   Normal|
|  Data Scientist|        106|100000|            152500.0|   Normal|
|    Data Analyst|        101| 80000|             75000.0|   Normal|
|    Data Analyst|        102| 90000|             75000.0|   Normal|
|    Data Analyst|        103|100000|             75000.0|   Normal|
|    Data Analyst|        104| 30000|             75000.0|Underpaid|
|Python Developer|        109| 60000|             88750.0|   Normal|
|Python Developer|        110| 70000|             88750.0|   Normal|
|Python Developer|        111|200000|             88750.0| Overpaid|
|Python Developer|        112| 25000|             88750.0|Underpaid|
|  Data Scientist|        107| 80000|            152500.0|   Normal|
|  Data Scientist|        108|310000|            152500.0| Overpaid|
+----------------+-----------+------+--------------------+---------+

In [6]:
compensation_w_status.where(compensation_w_status.status != "Normal").select("employee_id", "salary", "status").show()

+-----------+------+---------+
|employee_id|salary|   status|
+-----------+------+---------+
|        104| 30000|Underpaid|
|        111|200000| Overpaid|
|        112| 25000|Underpaid|
|        108|310000| Overpaid|
+-----------+------+---------+

## Method 2

In [7]:
avg_salaries_per_title = compensation_df.groupBy("title").avg("salary").withColumnRenamed("avg(salary)", "avg_salary_per_title")
compensation_w_avg_salaries_per_title =  compensation_df.join(avg_salaries_per_title, on=["title"], how="left")

compensation_w_status_2 = compensation_w_avg_salaries_per_title.select(
    compensation_w_avg_salaries_per_title.employee_id,
    compensation_w_avg_salaries_per_title.salary,
    F.when(
        compensation_w_avg_salaries_per_title.salary > (2*compensation_w_avg_salaries_per_title.avg_salary_per_title),
        "Overpaid"
    ).when(
         compensation_w_avg_salaries_per_title.salary < (0.5*compensation_w_avg_salaries_per_title.avg_salary_per_title),
        "Underpaid"
    ).otherwise("Normal").alias("status")
)

avg_salaries_per_title.show()
compensation_w_avg_salaries_per_title.show()
compensation_w_status.show()

+----------------+--------------------+
|           title|avg_salary_per_title|
+----------------+--------------------+
|  Data Scientist|            152500.0|
|    Data Analyst|             75000.0|
|Python Developer|             88750.0|
+----------------+--------------------+

+----------------+-----------+------+--------------------+
|           title|employee_id|salary|avg_salary_per_title|
+----------------+-----------+------+--------------------+
|  Data Scientist|        105|120000|            152500.0|
|  Data Scientist|        106|100000|            152500.0|
|    Data Analyst|        101| 80000|             75000.0|
|    Data Analyst|        102| 90000|             75000.0|
|    Data Analyst|        103|100000|             75000.0|
|    Data Analyst|        104| 30000|             75000.0|
|Python Developer|        109| 60000|             88750.0|
|Python Developer|        110| 70000|             88750.0|
|Python Developer|        111|200000|             88750.0|
|Python Developer|        112| 25000|             88750.0|
|  Data Scientist|        107| 80000|            152500.0|
|  Data Scientist|        108|310000|            152500.0|
+----------------+-----------+------+--------------------+

+----------------+-----------+------+--------------------+---------+
|           title|employee_id|salary|avg_salary_per_title|   status|
+----------------+-----------+------+--------------------+---------+
|  Data Scientist|        105|120000|            152500.0|   Normal|
|  Data Scientist|        106|100000|            152500.0|   Normal|
|    Data Analyst|        101| 80000|             75000.0|   Normal|
|    Data Analyst|        102| 90000|             75000.0|   Normal|
|    Data Analyst|        103|100000|             75000.0|   Normal|
|    Data Analyst|        104| 30000|             75000.0|Underpaid|
|Python Developer|        109| 60000|             88750.0|   Normal|
|Python Developer|        110| 70000|             88750.0|   Normal|
|Python Developer|        111|200000|             88750.0| Overpaid|
|Python Developer|        112| 25000|             88750.0|Underpaid|
|  Data Scientist|        107| 80000|            152500.0|   Normal|
|  Data Scientist|        108|310000|            152500.0| Overpaid|
+----------------+-----------+------+--------------------+---------+

In [8]:
compensation_w_status_2.where(compensation_w_status_2.status != "Normal").show()

+-----------+------+---------+
|employee_id|salary|   status|
+-----------+------+---------+
|        104| 30000|Underpaid|
|        111|200000| Overpaid|
|        112| 25000|Underpaid|
|        108|310000| Overpaid|
+-----------+------+---------+

In [9]:
spark.stop()